html, body {
    /*width: 100%;*/
    font-size: 1em;
    font-family: sans-serif;
}

.column-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}

#map-container {
    height: 650px;
}

#map-legend {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.legend-item-color {
    height: 1em;
    width: 1em;
    display: inline-block;
    border: 1px solid black;
}

#left-column {
    /*width: 26%;*/
    min-width: 250px;
    margin: 0;
    padding: 0;
}

#right-column {
    width: 63%;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

@media(max-height: 600px) {
    .flow-list {
        height: 570px;
    }
}

@media(max-height: 800px) {
    .flow-list {
        height: 770px;
    }
}

@media (min-height: 801px) {
    .flow-list {
        height: 790px;
    }
}

.flow-list {
    overflow: auto;
    margin: 0;
    padding: 0;
}

.flow-list-item {
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 1px;

    width: 200px;
}

.flow-list-item:hover {
    background-color: orange;
    cursor: pointer;
}

.flow-list-item.selected {
    font-weight: bold;
}
