html, body {
    width: 100%;
    font-size: 1em;
    font-family: sans-serif;
}

.column-container {
    display: flex;
    flex-direction: row;
}

#map-container {
    height: 650px;
}

#map-legend {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.legend-item-color {
    height: 1em;
    width: 1em;
    display: inline-block;
    border: 1px solid black;
}

#left-column {
    width: 26%;
}

#right-column {
    width: 63%;
}

.title {
    text-align: center;
}

.flow-list {
    height: 700px;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.flow-list-item {
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 1px;

    max-width: 300px;
}

.flow-list-item:hover {
    background-color: orange;
    cursor: pointer;
}

.flow-list-item.selected {
    font-weight: bold;
}
